.BuildControls {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 1px #cccccc;
    flex-direction: column;
    background: #cf8f2e;
}

.orderButton {
    margin: 10px 0;
    font-weight: bold;
    padding: 15px 22px;
    text-transform: uppercase;
    background: #cccccc;
    font-size: 1.3em;
}