.Input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: left
}

.Label {
    font-weight: bold;
    padding-bottom: 2px;
}

.InputElement {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    background: white;
    padding: 8px 12px;
    border-radius: 0.25em;
    font-size: 1.0em;
    display: block;

    &:hover{
        background: #eeeeee;
    }
}